# -- ice40hx1k-evb leds

set_io clk 15
set_io leds[0]  1
set_io leds[1]  2
set_io leds[2]  3
set_io leds[3]  4
set_io leds[4]  7
set_io leds[5]  8
# set_io leds[6]  9
# set_io leds[7] 10
# set_io leds[8] 12
# set_io leds[9] 13

